<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="IronAHK.Rusty" publicKeyToken="FC210A2341314C66" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.7.6675.5468" newVersion="0.7.6675.5468"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
